<div class="container mt-5">
    <h2>Detalles de la Película</h2>
    <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando detalles de la película...</span>
    </div>
    <div *ngIf="!isLoading" class="row">
            <div class="col-md-12">
                <h1 class="mb-3">{{ film['title']}}</h1>
                <p><strong>Director:</strong> {{ film['director']}}</p>
                <p><strong>Productor:</strong> {{ film['producer']}}</p>
                <p><strong>Fecha de Lanzamiento:</strong> {{ film['release_date']}}</p>
                <h3 class="mt-4">Descripción</h3>
                <p>
                    {{ film['opening_crawl']}}
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2>Personajes de la Película</h2>
        <div *ngIf="isCharactersLoading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Cargando detalles de la película...</span>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <div *ngFor="let charac of characters" class="card mb-4">
                    <img src="https://placehold.co/400" alt="Imagen del Personaje" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ charac['name'] }}</h5>
                    </div>
                </div>
            </div>
    </div>
